**/node_modules/
**/build/
**/dist/
**/temp/
**/coverage/

**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

**/node_modules
local/

*.code-workspace
packages/node-core/src/__test__/_resources_/util/iteration/getFsGenerator.test/dir1a/dir1b-2a_sl
packages/node-core/src/__test__/_resources_/util/iteration/getFsGenerator.test/dir1a/dir1b-2b_jc/
